.btn_main {
  background: linear-gradient(
    338deg,
    #faa343 40.79%,
    #bf3663 60.07%,
    #8f38ae 63.78%
  );
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  transition: all 0.4s ease-out;
  background-size: 200%;

  &:hover {
    // background: linear-gradient(338deg, #8f38ae 63.78%3, #faa343 40.79%);
    background: linear-gradient(
      338deg,
      #8f38ae 25%,
      #faa343 45%,
      #bf3663 60.07%,
      #8f38ae 60%
    );
    background-size: 100%;
  }
}
.btn_second {
  background: linear-gradient(-45deg, #31b5c2 25%, #8f38ae 45%, #31b5c2 60%);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  transition: all 0.4s ease-out;
  background-size: 200%;

  &:hover {
    background: linear-gradient(-45deg, #31b5c2 25%, #8f38ae 45%, #31b5c2 60%);
    // background: linear-gradient(
    //   338deg,
    //   #faa343 2.79%,
    //   #bf3663 27.07%,
    //   #8f38ae 63.78%,
    //   #31b5c2 102.02%
    // );
    background-size: 100%;
  }
}
