@use "../../../styles/css_variables.scss" as vars;

.tooltip_wrap {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  margin-left: 10px;
  z-index: 99;
}

.tooltip {
  background: vars.$gradient-background-primary;
  font-family: vars.$theme-font-Subheading;
  color: white;
  padding: 8px 12px !important;
  border-radius: 12px;
  white-space: nowrap;
}
