@use "sass:color";
@use "../../../styles/css_variables.scss" as vars;

.issue {
  max-width: 260px !important;
  margin: 10px 8px;
  padding: 16px 8px;
  box-shadow: -1px -1px 8px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  // background: color.adjust($color: vars.$theme-blue, $alpha: 0.4);
  color: vars.$theme-blue;
  transition: all 0.3s ease-in-out;
  height: fit-content;
  cursor: pointer;
  position: relative;

  &:hover {
    box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.2);
  }

  .title {
    @include vars.fonts(16px, 20px, 500);
    margin-bottom: 4px !important;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    border-bottom: 1px solid vars.$theme-blue;
    padding: 0px 6px 6px;
    margin-bottom: 6px;
  }
  .description {
    @include vars.fonts(14px, 18px, 400);
    margin-bottom: 4px !important;
    padding: 0px 6px;
  }
  .createdBy {
    @include vars.fonts(12px, 16px, 700);
    margin-top: 4px;
    padding: 0px 6px;
    padding-bottom: 6px;
  }
}

.newIssue {
  border: 2px solid #4cafef;
  background-color: rgba(76, 175, 239, 0.1);
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 rgba(76, 175, 239, 0.4);
  }
  50% {
    box-shadow: 0 0 10px rgba(76, 175, 239, 0.7);
  }
  100% {
    box-shadow: 0 0 0 rgba(76, 175, 239, 0.4);
  }
}
