@import "../../../app/css_variables.scss";

.feedback-card {
  max-width: 320px;
  min-height: 200px;
  border: 1px solid #ddd;
  border-radius: 43px;
  padding: 24px 20px;
  background-color: white;
  // color: white;
  transition: all 0.4s ease-out;
  filter: drop-shadow(-1px 1px 1px $theme-text-color);
  // background: linear-gradient(-162deg, #31b5c2 49%, #8f38ae 75%, #31b5c2 82%);
  cursor: grab;

  // &:hover {
  //   background: linear-gradient(
  //     338deg,
  //     #8f38ae 20.78%,
  //     #faa343 27.79%,
  //     #bf3663 103.07%
  //   );
  //   background-size: 100%;
  // }

  .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .feedback-text {
    font-size: 16px !important;
    min-height: 100px;
  }

  .name {
    font-weight: 700;
    font-size: 18px !important;
    margin: 5px 0;
  }

  .designation {
    font-size: 16px !important;
    font-weight: 600;
    margin-bottom: 0;
  }
}
