.feedback-card {
  max-width: 320px;
  min-height: 200px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 24px 20px;
  background-color: rgb(250, 250, 250);
  color: white;
  // background: linear-gradient(
  //   -45deg,
  //   #faa343 2.5%,
  //   #8f38ae 15.8%,
  //   #faa343 60.4%
  // );
  background: linear-gradient(-162deg, #31b5c2 49%, #8f38ae 75%, #31b5c2 82%);

  .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .feedback-text {
    font-size: 16px !important;
    min-height: 100px;
  }

  .name {
    font-weight: 700;
    font-size: 18px !important;
    margin: 5px 0;
  }

  .designation {
    font-size: 16px !important;
    font-weight: 600;
    margin-bottom: 0;
  }
}
