.related_card_img {
  width: 50px !important;
  height: 50px;
  margin-left: 16px;
  margin-right: 16px;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;

  img {
    width: 80%;
    height: auto;
    border-radius: 0;
  }
}

.btn {
  max-width: fit-content;

  margin-top: 20px;
  &:hover {
    .arrow_icon {
      transform: translateX(15px);
    }
  }

  .arrow_icon {
    transition: transform 0.3s ease;
  }
}
