@use "../../app/globals.scss" as *;
@use "../../app/css_variables.scss";

.Navbar_wrap {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 6px 0;
  z-index: 999;

  .Navbar {
    padding: 6px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    transition: all 0.3s ease-out;
    position: relative;

    .logo {
      z-index: 1000;
      width: auto;
      display: flex;
      justify-content: start;
      align-items: center;
      position: absolute;
      top: 20px;
      left: 20px;

      @include md {
        left: 0px;
      }

      .logo-image {
        border: 1px solid white;
        width: auto;
        height: 60px;
        object-fit: contain;
        width: 100px;
        border: none;
      }
    }

    .burger-menu {
      cursor: pointer;
      z-index: 1000;
      position: absolute;
      top: 30px;
      right: 20px;

      @include md {
        right: 0px;
      }
      // }
    }

    nav {
      ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 0 !important;
        padding-left: 0 !important;
        position: absolute;
        z-index: 100;
        height: 100vh;
        width: 50%;
        top: 0;
        right: 0;
        background-color: #edf0f0;
        padding-top: 60px;

        &.menu-list {
          transform: translateX(0rem);
          right: 0;
          transition: all 0.5s ease-in-out;
        }

        &.menu-list-close {
          transform: translateX(400rem);
          transition: all 0.5s ease-in-out;
          width: 0;
        }

        @include lg {
          padding-top: 60px;
        }

        li {
          list-style: none;
          list-style: none;
          margin-bottom: 20px;

          button,
          .btn,
          a {
            border-bottom: 1px solid transparent;
            text-decoration: none;
            color: black;
            font-family: $theme-font-Heading !important;
            position: relative;
            @include fonts(18px, 20px, 500);

            &:active {
              width: 100%;
              transition: all 0.6s ease-in-out;
              color: #31b5c2 !important;
            }
            &:focus {
              color: #31b5c2 !important;
            }
            &:hover {
              color: #31b5c2 !important;
            }

            &::after {
              content: "";
              width: 0%;
              margin-top: 4px;
              height: 6px;
              background: linear-gradient(
                -45deg,
                #31b5c2 25%,
                #8f38ae 45%,
                #31b5c2 60%
              );

              border-radius: 12px;
              display: block;
              top: 22px;
              position: absolute;
              text-shadow: 3px 2px 6px black;
            }
            &:hover::after {
              width: 100%;
              transition: all 0.6s ease-in-out;
              color: white !important;
              z-index: 99;
            }
          }
        }
        .active {
          text-decoration: underline;
          filter: drop-shadow(0 0 80px #000ce8aa);

          &::after {
            background-color: transparent;
          }
        }
      }

      .search {
        position: absolute;
        right: 100px;
        top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
