@use "../../styles/css_variables.scss" as vars;

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.Navbar_wrap {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;
  height: 90px;
  background-color: vars.$theme_silver !important;

  .Navbar {
    padding: 6px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    transition: all 0.3s ease-out;
    position: relative;

    .logo {
      z-index: 1000;
      width: auto;
      display: flex;
      justify-content: start;
      align-items: center;
      position: absolute;
      top: 30px;
      left: 20px;
      // background-color: rgba(vars.$theme-blue, 0.4);
      padding: 0 4px 0 0;
      border-radius: 12px;

      @include vars.md {
        left: 0px;
      }

      .logo-image {
        // border: 1px solid white;
        width: auto;
        height: 40px;
        object-fit: contain;
        width: 100px;
        border: none;
      }
    }

    .lang_switch {
      position: absolute;
      right: 110px;
      top: 30px;
    }

    .burger-menu {
      cursor: pointer;
      z-index: 1000;
      position: absolute;
      top: 30px;
      right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        @include vars.fonts(14px, 16px, 600);
      }

      @include vars.md {
        right: 5px;
      }
      // }
    }

    nav {
      ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 0 !important;
        padding-left: 0 !important;
        position: absolute;
        z-index: 999;
        height: 100vh;
        width: 80%;
        top: 100px;
        right: 0;
        padding-top: 60px;
        // background: linear-gradient(
        //   45deg,
        //   vars.$light_green,
        //   vars.$theme_blue
        // ) !important;
        // background-size: 300% 300% !important;
        background-color: vars.$theme-white;
        animation: gradientShift 8s ease infinite;
        border-radius: 18px 18px 0 0;
        box-shadow: 0 0 1px 0 #ccc, 0 5px 20px -5px rgba(0, 0, 0, 0.1);

        @include vars.md {
          width: 460px;
          padding-top: 28px;
        }

        &.menu-list {
          transform: translateX(0rem);
          right: -10px;
          transition: all 0.6s ease-out;
        }

        &.menu-list-close {
          transform: translateX(400rem);
          width: 0;
          transition: all 0.9s ease-in;
        }

        @include vars.lg {
          padding-top: 60px;
        }

        li {
          list-style: none;
          list-style: none;
          margin-bottom: 8px;
          width: 100%;
          padding: 4px 8px 4px 20px;

          @include vars.md {
            margin-bottom: 15px;
          }

          button,
          .btn,
          a {
            border-bottom: 1px solid transparent;
            text-decoration: none;
            color: vars.$theme-dark !important;
            font-family: vars.$theme-font-Heading !important;
            position: relative;
            @include vars.fonts(16px, 28px, 600);
            transition: all 0.2s ease-in;

            @include vars.md {
              @include vars.fonts(18px, 20px, 600);
            }

            &.active {
              //active is on the same level as a
              width: 100%;
              transition: all 0.6s ease-in-out;
              // color: $light_green !important;
              color: vars.$theme-blue !important;

              &::after {
                content: "";
                width: 100%;
              }
            }
            &:focus {
              color: vars.$theme-blue !important;
            }
            &:hover {
              color: vars.$theme-blue !important;
            }

            &::after {
              content: "";
              width: 0%;
              margin-top: 4px;
              height: 4px;
              background: linear-gradient(
                -45deg,
                vars.$light_green 20%,
                vars.$theme_silver 60%,
                vars.$blue_2 20%
              );

              border-radius: 80px;
              display: block;
              top: 22px;
              position: absolute;
              text-shadow: 3px 2px 6px black;
            }
            &:hover::after {
              width: 100%;
              transition: all 0.6s ease-in-out;
              color: white !important;
              z-index: 99;
            }
          }
        }
      }

      .search {
        position: absolute;
        right: 100px;
        top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
