@use "../../../styles/css_variables.scss" as vars;

.custom_card {
  border-radius: 18px !important;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  padding: 15px 15px 0 15px;
  // border: 1px solid vars.$theme_medium_gray;
  cursor: pointer;

  &:hover {
    transition: all 0.4s ease-in;
    filter: drop-shadow(-1px 1px 16px rgba(vars.$theme_medium_gray, 0.4));
    transform: translateY(-5px);

    .img {
      transition: all 0.4s ease-in;
      overflow: hidden;
      background-size: 100%;
      // transform: scale(1.1);
    }

    .card_body {
      transition: all 0.4s ease-in-out;
      background-size: 200%;

      &:hover {
        background-size: 100%;
      }
    }
  }

  .card_img {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 18px;
    box-shadow: -1px 1px 4px vars.$theme_light_gray;

    .img {
      height: 100%;
      width: 100%;
      background-size: 200%;
      object-fit: cover !important;
      border-radius: 18px 0px 0px;
      transition: all 0.4s ease-in;
    }
  }

  .card_body {
    transition: all 0.6s ease-in-out;
    border-radius: 0 0 18px !important;
    padding: 16px;

    .card_title {
      font-family: vars.$theme-font-Subheading;

      @include vars.fonts(20px, 28px, 600);
      margin-bottom: 8 auto;
    }
    .card_description {
      @include vars.fonts(18px, 28px, 400);
    }
    .btn {
      background: linear-gradient(338deg, #bf3663, #8f38ae);
      color: white !important;
      border: none;
      padding: 8px 24px;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      transition: all 0.4s ease-out;

      &:hover {
        background: linear-gradient(
          338deg,
          #faa343 2.79%,
          #bf3663 27.07%,
          #8f38ae 63.78%,
          // #31b5c2 102.02%
        );
      }
    }
  }
}
