@import "../../../app/css_variables.scss";

.custom_card {
  border-radius: 12px !important;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  padding: 15px 15px 0 15px !important;
  border: 2px solid $theme_light_gray;
  // filter: drop-shadow(-0.5px 0.5px 2px $theme-text-color);

  &:hover {
    transition: all 0.4s ease-in;
    filter: drop-shadow(-1px 1px 2px $theme-text-color);

    .img {
      transition: all 0.4s ease-in;
      overflow: hidden;
      background-size: 100%;
      transform: scale(1.2);
    }

    .card_body {
      // color: white !important;
      // background: linear-gradient(
      //   45deg,
      //   #da8cf6 27.07%,
      //   #9ae4ef 63.78%,
      //   #da8cf6 102.02%
      // );
      transition: all 0.4s ease-in-out;
      background-size: 200%;

      &:hover {
        background-size: 100%;
      }
    }
  }

  .card_img {
    width: 100% !important;
    height: 200px;
    overflow: hidden;
    border-radius: 12px !important;
    // filter: drop-shadow(-2px 4px 12px $theme-text-color);
    box-shadow: -1px 1px 4px $theme_light_gray;

    .img {
      height: 100%;
      width: 100%;
      background-size: 200%;
      object-fit: cover !important;
      border-radius: 12px 0px 0px;
      transition: all 0.4s ease-in;
    }
  }

  .card_body {
    transition: all 0.6s ease-in-out;
    border-radius: 0 0 22px !important;
    // color: white !important;
    // background: linear-gradient(
    //   338deg,
    //   #8f38ae 20.78%,
    //   #faa343 27.79%,
    //   #bf3663 103.07%
    // );
    // &:hover {
    //   color: white !important;
    // }

    .card_title {
      font-weight: 600;
      font-family: $theme-font-Subheading;
    }
    .btn {
      background: linear-gradient(338deg, #bf3663, #8f38ae);
      color: white !important;
      border: none;
      padding: 8px 24px;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      transition: all 0.4s ease-out;

      &:hover {
        background: linear-gradient(
          338deg,
          #faa343 2.79%,
          #bf3663 27.07%,
          #8f38ae 63.78%,
          // #31b5c2 102.02%
        );
      }
    }
  }
}
