// *---screns---*
$screen-xs: 370px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1199px;
$screen-xxl: 1399px;

@mixin xs {
  @media (min-width: #{$screen-xs}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$screen-sm}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$screen-xl}) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: #{$screen-xxl}) {
    @content;
  }
}

// -----------------

$gradient-background-primary: linear-gradient(
  338deg,
  #faa343 2.79%,
  #bf3663 27.07%,
  #8f38ae 63.78%,
  #31b5c2 102.02%
);
$gradient-background-secondary: linear-gradient(to right, #3ca55c, #b5ac49);
$theme-green: #159957;
$theme-blue: #155799;
$theme-yellow: #b5ac49;
$theme-text-color: #3e4581;
$theme-font-Heading: "Poppins", sans-serif;
$theme-font-Subheading: "Montserrat", serif;
$theme-font-Paragraph: "Open Sans", serif;

// -------Theme scheme-------

$theme_silver: #f8fafc;

$light_blue: #a1e3f9;
$blue_1: #578fca;
$blue_2: #3674b5;
$light_green: #d1f8ef;

$theme_blue: #3778c2; //medium blue for primary actions.
$theme_green: #33c48d; //A lively green for success messages
$theme_yelloL: w #f6c344; //For warnings and attention-grabbing elements.
$theme_red: #e63946; //For errors or destructive actions

$theme_dark_gray: #343a40; //For text and dark accents.s
$theme_medium_gray: #6c757d; //For secondary text or subtle elements.
$theme_light_gray: #f4f4f4; //For backgrounds or dividers.

// -----------------------------

@mixin fonts($fontSize, $lineHeight, $fontWeight) {
  font-size: $fontSize !important;
  line-height: $lineHeight !important;
  font-weight: $fontWeight !important;
}
