@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "./css_variables.scss";

// font-family: "Montserrat Alternates", sans-serif;
// font-family: "Roboto Mono", monospace;
// font-family: "Open Sans", serif;

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.top-padding {
  padding-top: 80px;

  @include lg {
    padding-top: 130px;
  }
}

#home,
#process,
#feedback {
  padding-bottom: 60px;
  background: rgba(255, 255, 255, 1);

  @include lg {
    padding-bottom: 62px;
  }
}
#services,
#plans,
#contact {
  padding-bottom: 60px;
  background: #f2fbfc;

  @include lg {
    padding-bottom: 62px;
  }
}

#footer {
  padding: 8px 0 !important;
  background: linear-gradient(
    to right,
    // #faa343 10%,
    // #bf3663 27%,
    #31b5c2 102%,
    #8f38ae 63%,
    #31b5c2 102%
  );
}
.footer {
  p {
    margin-bottom: 0 !important;
    color: white !important;
    @include fonts(16px, 28px, 600);
  }
}

h1 {
  @include fonts(44px, 48px, 600);
  font-family: $theme-font-Heading !important;
  font-weight: 800;
  line-height: 88px;
  color: $theme-text-color !important;

  @include lg {
    @include fonts(64px, 68px, 600);
  }
}

h2,
h3,
h4 {
  font-family: $theme-font-Subheading !important;
  font-weight: 600 !important;
}

h2 {
  @include fonts(24px, 32px, 600);

  @include lg {
    @include fonts(44px, 56px, 600);
  }
}
p {
  font-family: $theme-font-Paragraph !important;
  @include fonts(18px, 32px, 400);
  color: #0b0d39 !important;
}

a,
.btn {
  font-family: $theme-font-Subheading !important;
  text-decoration: none !important;
}

// for banner------------

.hero-h1-text {
  font-weight: 700 !important;
}

.hero-image {
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;

  &::before {
    content: "";
    height: 220px !important;
    width: 220px !important;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(
      45deg,
      #a9edf5 27.07%,
      #f2fbfc 63.78%,
      #a9edf5 102.02%
    );

    @include lg {
      height: 380px !important;
      width: 380px !important;
    }
  }

  img {
    width: 300px;
    height: 100%;
    object-fit: cover;
    z-index: 10;

    @include lg {
      width: 400px;
    }
  }
}

.section-space {
  padding-top: 60px;

  @include lg {
    padding-top: 60px;
  }
}

.section-heading {
  margin-bottom: 60px;

  @include lg {
    margin-bottom: 100px;
  }

  h2 {
    font-style: normal;
    text-align: center;
    margin-bottom: 20px;
    @include fonts(32px, 38px, 600);

    @include lg {
      @include fonts(48px, 56px, 700);
    }
  }
  p {
    font-style: normal;
    text-align: center;
    margin-bottom: 0;
    @include fonts(20px, 28px, 500);

    @include lg {
      @include fonts(24px, 32px, 600);
    }
  }
}
// ---------------------------

.how-it-works {
  &:last-child {
    margin-bottom: 0 !important;
  }
}

.work {
  margin-bottom: 60px;
  margin-top: 60px !important;

  &:last-child {
    margin-bottom: 0 !important;
  }

  h2 {
    font-style: normal;
    margin-bottom: 0;
    color: #3e4581 !important;
    @include fonts(26px, 36px, 600);

    @include lg {
      @include fonts(35px, 45px, 600);
    }
  }
  hr {
    margin: 12px 0;
    border: 1px solid $theme-text-color;
  }
  .work-image-wrap {
    max-height: 450px;
    margin: 0 auto !important;

    @include lg {
      width: 450px;
    }

    .work-image {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

// ------------------------------------

.colored-text {
  background: -webkit-linear-gradient(
    to right,
    #8f38ae 15%,
    #faa343 35%,
    #bf3663 47%,
    #8f38ae 53%,
    #31b5c2 90%
  );
  background: linear-gradient(
    to right,
    #8f38ae 15%,
    #faa343 35%,
    #bf3663 47%,
    #8f38ae 53%,
    #31b5c2 90%
  );
  -webkit-background-clip: text;
  color: transparent !important;
  text-shadow: none;
}

// ------------ServiceDetail-----------

.service-hero {
  // background: linear-gradient(
  //   45deg,
  //   #a9edf5 27.07%,
  //   #f2fbfc 63.78%,
  //   #a9edf5 102.02%
  // );
  background: #f2fbfc;
  padding-bottom: 40px;

  img {
    max-width: 550px;
    max-height: 550px;
  }
}

// -------------auth-page--------------

.auth-page {
  margin: 100px auto;
  display: block;
  border-radius: 8px;
  padding: 40px 16px;
  // background: linear-gradient(-260deg, #d0eff2 25%, #d9b6e7 45%, #d0eff2 60%);
  background: rgb(250, 250, 250);

  .outer-wrap {
    margin: 0 auto !important;
    border-radius: 43px;
    padding: 15px 10px;
    // background: linear-gradient(
    //   45deg,
    //   #a9edf5 27.07%,
    //   #f2fbfc 63.78%,
    //   #a9edf5 102.02%
    // );
    background: #f2fbfc;

    .form-section {
      max-width: 520px;
    }
  }

  .authImage {
    width: 350px !important;
    height: auto;
    object-fit: contain;
    margin: 0 auto;
    display: block;
  }
}
// ---------------

.bar-wrap {
  position: fixed;
  bottom: 20px;
  display: flex;
  justify-content: center;
  left: 1%;
  background: linear-gradient(
    to right,
    #faa343 10%,
    #bf3663 27%,
    #8f38ae 63%,
    #31b5c2 102%
  );

  // background: linear-gradient(
  //   338deg,
  //   #8f38ae 20.78%,
  //   #faa343 27.79%,
  //   #bf3663 103.07%
  // );

  padding: 12px 18px;
  border-radius: 43px;
  z-index: 99;

  .bar {
    .stretched {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: white !important;

      @include lg {
        flex-direction: row;
      }
    }
    .shrunk {
      display: flex;
      justify-content: start;
      align-items: center;
      color: white !important;
    }
  }

  .btn {
    font-size: 14px !important;
    border: 1px solid white;
    width: max-content;
    transition: all 0.4s ease-out;
    border-radius: 43px 43px 43px 0;

    &:hover {
      background: #bf3663;
      color: white !important;
    }
  }
  .close {
    position: absolute;
    top: -18px;
    right: -20px;
    border: none;
    background-color: rgb(255, 251, 251) !important;
    color: black !important;
    @include fonts(14px, 18px, 600);
    transition: all 0.4s ease-out;

    &:hover {
      background: #bf3663 !important;
    }
  }
}

.w-all {
  max-width: 270px !important;
  transition: all 2s ease-out;

  @include lg {
    max-width: 1000px !important;
  }
}
.w-375 {
  width: 275px !important;
  transition: all 2s ease-out;
  .stretched {
    flex-direction: row !important;
  }
}

// ---------------carousel---

.react-multiple-carousel__arrow {
  background-color: #8f38ae !important;
}

.react-multi-carousel-list {
  height: 300px;
}

// ---------------------dashboard----------------------------------------
.dashboard {
  // background: #ececec;
  margin-top: 100px;
  height: 100dvh;
  border-radius: 12px;
  padding: 0px 30px;

  .greeting {
    // border-radius: 43px;
    // border: 1px solid #1bb0c1;
    // background-color: white;
    justify-content: center;
    align-items: center;
    // margin-left: 20px;
    // margin-right: 20px;
  }

  .greeting-text {
    @include fonts(36px, 44px, 600);
  }

  .broad_sidebar {
    width: 30% !important;
  }
  .narrow_sidebar {
    width: 15% !important;
  }
  .broad_content {
    width: 85% !important;
  }
  .narrow_content {
    width: 65% !important;
  }
}

// .dashboard-nav {
//   // height: max-content;
//   // background: #d8f3f6;
//   // border-radius: 0 43px 43px 0;
//   box-shadow: 4px 4px 20px #b2b2b2;
//   // padding-left: 0 !important;
//   padding: 40px 30px 40px 0 !important;
//   min-height: 600px;

//   .action-btn {
//     @include fonts(16px, 20px, 500);
//     margin-bottom: 8px;
//     border: none !important;
//     background: #d8f3f6;
//     border-radius: 0 43px 43px 0 !important;
//     text-align: start;

//     &:focus {
//       border: none !important;
//       color: white;
//     }
//     &:hover {
//       border: none !important;
//       background-color: green;
//       color: white;
//     }
//     // &:active {
//     //   border: none !important;
//     // }
//   }
// }

.chat-container {
  background: #f3f3f3;
  box-shadow: -4px 4px 12px #b2b2b2;
  border-radius: 43px;
  min-height: 500px;
  scroll-behavior: smooth;
  padding: 30px 10px;
}

.issue {
  max-width: 360px !important;
  margin: 10px auto;
  padding: 15px;
  box-shadow: -1px 2px 4px #31b5c2;
  border-radius: 12px;
  background: white;
  transition: all 0.3s ease-in-out;
  height: fit-content;
  cursor: pointer;
  position: relative;

  // @include lg {
  //   max-width: 460px !important;
  // }

  &:hover {
    box-shadow: 0px 8px 18px #31b5c2;
    background: white;
  }

  .title {
    @include fonts(20px, 26px, 700);
    margin-bottom: 8px !important;
  }
  .description {
    @include fonts(16px, 22px, 500);
    margin-bottom: 4px !important;
  }
  .createdBy {
    @include fonts(12px, 20px, 600);
    margin-bottom: 4px !important;
    margin-top: 8px;
  }
}

.issue-actions {
  .btn {
    @include fonts(14px, 16px, 500);
    border: none;
    border-radius: 43px;
    padding: 6px 16px;
    box-shadow: -2px 4px 6px rgb(203, 203, 203);
    margin-right: 10px;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #31b5c2;
      color: white;
    }
  }
}

// -------chat section -------------

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #31b5c2;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #31b5c2;
}

.user_list {
  // border: 1px solid red;
  height: fit-content;
  overflow-y: scroll;
  border-right: 1px solid #1bb0c1;

  @include lg {
    height: 100vh;
  }
}

// .chat_section {
//   form {
//     border-radius: 12px;
//   }
// }

.chatbox-wrap {
  max-height: 200px;
  overflow-y: scroll;
  margin-bottom: 30px;
  box-shadow: inset 0 0 2px grey;
  border-radius: 12px;

  @include lg {
    max-height: 450px;
    margin-bottom: 40px;
  }
}

.chat_user_list {
  padding: 20px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .chat_user_btn {
    @include fonts(16px, 26px, 500);
    margin-bottom: 8px;

    border-radius: 8px;
    border: none;
    background: #d8f3f6;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 100%;

    &:hover {
      background: #31b5c2;
      color: white;
    }

    button {
      padding: 8px 16px;
    }
  }
}

.chat-list {
  margin-bottom: 8px;
  padding: 8px 10px;
  display: flex;
  justify-content: start;

  .user {
    @include fonts(16px, 26px, 500);
    margin-bottom: 8px !important;
    padding: 2px 18px 2px 18px;
    // background-color: #d8f3f6;
    height: max-content;
    border-radius: 12px;
    // border: 1px solid #1bb0c1;
    // border-left: 1px solid #1bb0c1;
    // border-top: 1px solid #1bb0c1;
    // border-bottom: 1px solid #1bb0c1;
  }

  .message {
    @include fonts(16px, 22px, 500);
    margin-bottom: 4px !important;
    background-color: #d8f3f6;
    padding: 18px 16px;
    border-radius: 12px;
    // border: 1px solid #1bb0c1;
    // border-left: 1px solid #1bb0c1;
    // border-right: 1px solid #1bb0c1;
    // border-top: 1px solid #1bb0c1;
    // border-bottom: 1px solid #1bb0c1;
  }
}

// --------------------

.pill {
  margin: 6px 4px;
  padding: 4px 16px;
  border-radius: 20px;
  line-height: 18px;
  font-size: 12px;
  max-width: fit-content;
  list-style: none;
  text-align: center;
  cursor: pointer;
  border: none;
  box-shadow: -2px 2px 4px rgb(203, 203, 203);
  @include fonts(12px, 16px, 600);
}
.sucsess {
  color: white !important;
  background: -webkit-linear-gradient(
    to right,
    rgb(48, 113, 28),
    rgb(48, 113, 28),
    rgb(48, 113, 28)
  );
  background: linear-gradient(
    to right,
    rgb(48, 113, 28),
    rgb(48, 113, 28),
    rgb(48, 113, 28)
  );
}
.completed {
  color: black !important;
  background: white;
}

// ----------chatbox------
