@use "sass:color";
@use "../../styles/css_variables.scss" as vars;

.contact_info {
  margin-bottom: 30px;
  text-align: center;
  color: vars.$theme-white !important;
  background-color: vars.$theme-white;
  padding: 22px;
  border-radius: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  text-align: start !important;

  @include vars.lg {
    // margin-top: 40px;
    margin-bottom: 20px;
    padding: 26px;
  }

  .contact_details {
    color: vars.$theme-dark !important;
    @include vars.fonts(14px, 22px, 500);
    margin-bottom: 0;
    display: block;
    text-align: start;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 4px 12px;
    border-radius: 12px;

    @include vars.lg {
      @include vars.fonts(20px, 28px, 500);
      margin-bottom: 20px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 0;
      background: linear-gradient(to right, vars.$theme_blue, vars.$light_blue);
      z-index: -1;
      transition: width 0.4s ease;
    }

    &:hover::before {
      width: 100%;
    }

    &:hover {
      color: white !important;
    }
  }
  .contact_text {
    color: vars.$theme-dark !important;
    @include vars.fonts(14px, 22px, 500);
    padding-top: 30px;
    margin-bottom: 20px;

    @include vars.lg {
      @include vars.fonts(20px, 28px, 500);
      margin-bottom: 40px;
    }
  }
}
