@use "../../styles/css_variables.scss" as vars;

.contact_info {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  color: vars.$theme-white !important;
  @include vars.fonts(16px, 22px, 500);
  background-color: vars.$theme-white;
  padding: 26px 16px;
  border-radius: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  &:hover {
    // background-color: vars.$theme_green;

    // .contact_text,
    // .contact_details {
    //   color: vars.$theme-white !important;
    // }
  }

  @include vars.lg {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .contact_details {
    color: vars.$theme-dark !important;
    @include vars.fonts(20px, 36x, 600);
    margin-bottom: 0;
  }
  .contact_text {
    color: vars.$theme-dark !important;
    @include vars.fonts(20px, 32x, 400);
    padding-top: 30px;
    margin-bottom: 0;
  }
}
