@import "../../../app/css_variables.scss";

.plan_card {
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 43px;
  padding: 0;
  background: linear-gradient(45deg, #f1fcfc 10%, transparent, #f1fcfc 80%);
  // background: #8f38ae;
  // background-image: url("../../../assets/images/login.png");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  transition: all 0.4s ease-in;
  background-size: 200%; /* Allow the background to scale */

  &:hover {
    color: white;
    // background: linear-gradient(
    //   338deg,
    //   #8f38ae 20.78%,
    //   #faa343 27.79%,
    //   #bf3663 103.07%
    // );
    background-size: 100%;
    filter: drop-shadow(-2px 4px 12px $theme-text-color);
    border: 1px solid transparent;

    .card_header {
      background: linear-gradient(
        -45deg,
        #8f38ae 60%,
        #bf3663 10%,
        #8f38ae 80%
      );
      background-size: 100%;
    }
  }

  hr {
    border: 1px solid white;
  }

  .tick {
    background-color: red !important;
    border-radius: 50% !important;
  }

  .card_header {
    // font-size: 30px;
    // font-weight: normal;
    // line-height: 30px;
    // font-style: normal;
    @include fonts(24px, 30px, 600);
    text-align: center;
    border-radius: 43px 43px 0 0;
    background-color: white;
    border-bottom: 1px solid ddd;
    background: linear-gradient(-45deg, #8f38ae 20%, #e2e1e1 10%, #8f38ae 80%);
    padding: 30px;
    background-size: 200%; /* Allow the background to scale */
    transition: all 0.4s ease-in;
  }
  .title {
    @include fonts(32px, 36px, 700);
    color: white;
  }
  .price {
    // color: #f7f7f7 !important;
    font-size: 20px;
    font-weight: normal;
    line-height: 24px;
    font-style: normal;
    color: white;
  }

  .card_body {
    padding: 0 20px;
    background-color: white;
    height: 100%;
    padding-bottom: 20px;
    border-radius: 0 0 43px 43px;
  }

  .benefits_list {
    list-style: none;
    padding: 0 8px 0 18px;
    min-height: 390px;
    text-align: center;
    margin: 20px auto;
    color: black;
  }

  .benefit_item {
    padding: 2px 6px 5px 8px;
    text-align: start;
    @include fonts(18px, 28px, 400) // &::before {
      //   content: url(../../../assets/images/check_list.png);
      //   margin-right: 8px;
      // }
;
  }

  .btn {
    // background: linear-gradient(338deg, #bf3663, #8f38ae);
    // background: linear-gradient(-45deg, #31b5c2 25%, #31b5c2 45%, #31b5c2 60%);
    background: #8f38ae;
    color: white;
    border: none;
    border-radius: 43px;
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    transition: all 0.4s ease-out;
    width: 100%;
    display: block;

    &:hover {
      background: linear-gradient(
        338deg,
        #faa343 2.79%,
        #bf3663 27.07%,
        #8f38ae 63.78%,
        // #31b5c2 102.02%
      );
    }
  }
}

.gold-card {
  &:hover {
    .star {
      transform: rotate(180deg) !important;
    }
  }

  // .star {
  //   width: 100%;
  //   height: 55px;
  //   object-fit: contain;
  //   position: absolute;
  //   top: -6px;
  //   transform: translate(-50%, -50%);
  // }
}
.gold_card_title {
  @include fonts(36px, 38px, 700);
  font-family: $theme-font-Heading;
  background: -webkit-linear-gradient(
    to right,
    #f6a04e 40%,
    #d85b7d 20%,
    #f6a04e 60%
  );
  background: linear-gradient(to right, #f6a04e 40%, #d85b7d 20%, #f6a04e 60%);
  -webkit-background-clip: text;
  color: transparent !important;
  text-shadow: none;
}
