@use "../../../styles/css_variables.scss" as vars;

.plan_card {
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 18px;
  padding: 0;
  background: linear-gradient(45deg, #f1fcfc 10%, transparent, #f1fcfc 80%);
  transition: all 0.4s ease-in;
  background-size: 200%;

  &:hover {
    color: white;
    background-size: 100%;
    filter: drop-shadow(-2px 4px 12px vars.$theme_text_color);
    border: 1px solid transparent;

    .card_header {
      background: linear-gradient(
        -45deg,
        vars.$theme_green,
        #a1e3f9,
        vars.$theme_blue,
        vars.$light_green,
        #3778c2
      );
      background-size: 100%;
    }
  }

  hr {
    border: 1px solid white;
  }

  .tick {
    background-color: red !important;
    border-radius: 50% !important;
  }

  .card_header {
    @include vars.fonts(24px, 30px, 600);
    text-align: center;
    border-radius: 18px 18px 0 0;
    background-color: white;
    border-bottom: 1px solid ddd;
    background: linear-gradient(
      -45deg,
      vars.$theme_green,
      #a1e3f9,
      vars.$theme_blue
    );
    padding: 30px;
    background-size: 200%; /* Allow the background to scale */
    transition: all 0.4s ease-in;
  }
  .title {
    @include vars.fonts(32px, 36px, 700);
    font-family: vars.$theme-font-Heading;
    color: white;
  }
  .price {
    // color: #f7f7f7 !important;
    @include vars.fonts(20px, 24px, 700);
    font-family: vars.$theme-font-Subheading;
    color: white;
  }

  .card_body {
    padding: 0 20px;
    background-color: white;
    height: 100%;
    padding-bottom: 20px;
    border-radius: 0 0 18px 18px;
    font-family: vars.$theme-font-Paragraph;
  }

  .benefits_list {
    list-style: none;
    padding: 0 8px 0 18px;
    min-height: 390px;
    text-align: center;
    margin: 20px auto;
    color: black;
  }

  .benefit_item {
    padding: 2px 6px 5px 8px;
    text-align: start;
    color: vars.$theme-font-Paragraph;
    @include vars.fonts(16px, 28px, 400);
  }
}

.gold-card {
  &:hover {
    .star {
      transform: rotate(180deg) !important;
    }
  }
}
.gold_card_title {
  @include vars.fonts(36px, 38px, 700);
  font-family: vars.$theme-font-Heading;
  background: -webkit-linear-gradient(
    to right,
    vars.$theme_green,
    #ffd700,
    vars.$theme_blue,
    vars.$theme_silver
  );
  background: linear-gradient(
    to right,
    vars.$theme_green,
    #ffd700,
    vars.$theme_blue,
    vars.$theme_silver
  );
  -webkit-background-clip: text;
  color: transparent !important;
  text-shadow: none;
}
