@use "../../../styles/css_variables.scss" as vars;

.desc {
  @include vars.fonts(18pxpx, 28px, 400);
  color: vars.$theme-dark;
  margin-top: 20px;

  @include vars.md {
    @include vars.fonts(22px, 32px, 400);
    margin-top: 30px;
  }
}

.feature_wrap {
  border-radius: 18px;
  max-width: 100%;
  margin-bottom: 30px;
  margin-top: 20px;
  height: fit-content;
  transition: all 0.3 ease-in;

  @include vars.xl {
    max-width: 650px;
    margin-top: 40px;
  }

  ul {
    padding-left: 8px;
  }

  li {
    @include vars.fonts(18px, 24px, 500);
    margin-bottom: 8px;
    // color: vars.$theme-white;

    span {
      color: vars.$theme-blue;
    }
  }
}

.formButton {
  color: white !important;
  border: none;
  border-radius: 30px;
  padding: 12px 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: linear-gradient(
    90deg,
    vars.$light_green,
    vars.$theme_blue
  ) !important;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
  @include vars.fonts(16px, 20px, 600);

  @include vars.md {
    @include vars.fonts(18px, 20px, 600);
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }
}

.h2 {
  @include vars.fonts(20px, 26px, 700);
  padding-bottom: 6px;
  margin-bottom: 10px;
  border-bottom: 1px solid vars.$theme-dark;
  color: vars.$theme-blue;
}

.service_hero {
  section {
    margin-bottom: 80px;
  }
  img {
    max-width: 400px;
    max-height: 300px;
    object-fit: cover;
  }
}

.get_in_touch {
  margin-top: 20px;
  display: flex;
  justify-content: start;
  align-items: start;

  .form-wrap {
    box-shadow: none !important;
  }

  h2 {
    @include vars.fonts(30px, 36px, 700);
  }
  .contact_info {
    @include vars.fonts(16px, 22px, 500);
    padding: 16px;
    border-radius: 18px;
    transition: background-color 0.3s ease;

    .contact_details {
      color: vars.$theme-dark !important;
      @include vars.fonts(18px, 26x, 500);
      margin-bottom: 0;

      a {
        color: vars.$theme-dark !important;
      }
    }
    .contact_text {
      color: vars.$theme-dark !important;
      @include vars.fonts(20px, 32x, 400);
      padding-top: 30px;
      margin-bottom: 0;
    }
  }
}
