@use "sass:color";
@use "../../../app/css_variables.scss" as vars;

.form-wrap {
  padding: 30px;
  box-shadow: -2px 4px 6px #e9c1f8;
  background: transparent;
  border-radius: 12px;
  z-index: 2;
  transition: all 0.6s ease-in-out;

  label {
    color: vars.$theme-text-color;
    margin-top: 10px !important;
    @include vars.fonts(16px, 20px, 500);
  }
  input,
  textarea,
  select {
    background: transparent;
    border: none;
    border-bottom: 1px solid vars.$theme-text-color;
    border-radius: 0;
    @include vars.fonts(16px, 20px, 400);

    &:focus {
      background: transparent;
      border-radius: 0;
      border: none;
      box-shadow: none;
      border-bottom: 1px solid vars.$theme-text-color;
    }
  }

  button {
    color: vars.$theme_dark_gray !important;
    border: none;
    border-radius: 30px;
    padding: 12px 20px;
    transition: all 0.3s ease;
    background: color.adjust(vars.$theme_blue, $lightness: 20%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    color: white !important;
    width: 100%;
    border: 1px solid vars.$theme_light_gray;
    @include vars.fonts(18px, 22px, 500);

    @include vars.md {
      width: fit-content;
      @include vars.fonts(20px, 22px, 500);
    }

    &:hover {
      background: linear-gradient(
        90deg,
        color.adjust(vars.$theme_blue, $lightness: 20%),
        vars.$light_blue
      );
      transform: translateY(-2px);
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.12);
    }

    &:active {
      transform: translateY(0);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }
}
