@use "../../../styles/css_variables.scss" as vars;

.links_wrap {
  padding: 10px;
}
.dropdownButton {
  height: fit-content;
  &:hover {
    background: none;
  }
}

.link {
  color: vars.$theme-dark;
  cursor: pointer;
  padding: 4px;
  display: flex;
  justify-content: start;
  text-align: center;

  &:hover {
    color: vars.$theme-white;
    background: rgba($color: vars.$theme-blue, $alpha: 0.4);
  }
}
